# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.gitignore
.idea/
.metadata/
.recommenders/
Chapter3/.mvn/
Chapter3/mvnw
Chapter3/mvnw.cmd
Chapter3/src/main/resources/static/
Chapter3/src/main/resources/templates/
Chapter3/src/main/webapp/
Chapter4/.mvn/
Chapter4/mvnw
Chapter4/mvnw.cmd
Chapter4/src/main/java/com/springboot/chapter4/service/impl/
Chapter4/src/main/resources/static/
Chapter4/src/main/resources/templates/
RemoteSystemsTempFiles/
chapter1/.classpath
chapter1/.project
chapter1/.settings/
chapter1/chapter1.iml
chapter1/target/
chapter10/.mvn/
chapter10/mvnw
chapter10/mvnw.cmd
chapter10/src/main/resources/static/
chapter10/src/main/resources/templates/
chapter11/.mvn/
chapter11/mvnw
chapter11/mvnw.cmd
chapter11/src/main/resources/static/
chapter11/src/main/resources/templates/
chapter12/.mvn/
chapter12/mvnw
chapter12/mvnw.cmd
chapter12/src/main/resources/static/
chapter12/src/main/resources/templates/
chapter13/.mvn/
chapter13/mvnw
chapter13/mvnw.cmd
chapter13/src/main/resources/templates/
chapter14/.mvn/
chapter14/mvnw
chapter14/mvnw.cmd
chapter14/src/main/resources/templates/
chapter14/src/main/webapp/
chapter15/.mvn/
chapter15/mvnw
chapter15/mvnw.cmd
chapter15/src/main/resources/static/
chapter15/src/main/resources/templates/
chapter16/.mvn/
chapter16/mvnw
chapter16/mvnw.cmd
chapter16/src/main/resources/static/
chapter16/src/main/resources/templates/
chapter17-dashboard/.mvn/
chapter17-dashboard/mvnw
chapter17-dashboard/mvnw.cmd
chapter17-dashboard/src/main/resources/static/
chapter17-dashboard/src/main/resources/templates/
chapter17-dashboard/src/main/webapp/
chapter17-product/.mvn/
chapter17-product/mvnw
chapter17-product/mvnw.cmd
chapter17-product/src/main/resources/static/
chapter17-product/src/main/resources/templates/
chapter17-product/src/main/webapp/
chapter17-server/.mvn/
chapter17-server/mvnw
chapter17-server/mvnw.cmd
chapter17-server/src/main/resources/static/
chapter17-server/src/main/resources/templates/
chapter17-server/src/main/webapp/
chapter17-user/.mvn/
chapter17-user/mvnw
chapter17-user/mvnw.cmd
chapter17-user/src/main/resources/static/
chapter17-user/src/main/resources/templates/
chapter17-user/src/main/webapp/
chapter17-zuul/.mvn/
chapter17-zuul/mvnw
chapter17-zuul/mvnw.cmd
chapter17-zuul/src/main/resources/static/
chapter17-zuul/src/main/resources/templates/
chapter17-zuul/src/main/webapp/
chapter2/.mvn/
chapter2/mvnw
chapter2/mvnw.cmd
chapter2/src/main/resources/static/
chapter2/src/main/resources/templates/
chapter5/.mvn/
chapter5/mvnw
chapter5/mvnw.cmd
chapter5/src/main/resources/static/
chapter5/src/main/resources/templates/
chapter5/src/main/webapp/
chapter6/.mvn/
chapter6/mvnw
chapter6/mvnw.cmd
chapter6/src/main/resources/static/
chapter6/src/main/resources/templates/
chapter6/src/main/webapp/
chapter7
/.mvn/
chapter7/mvnw
chapter7/mvnw.cmd
chapter7/src/main/resources/static/
chapter7/src/main/resources/templates/
chapter7/src/main/webapp/
chapter8/.mvn/
chapter8/mvnw
chapter8/mvnw.cmd
chapter8/src/main/resources/static/
chapter8/src/main/resources/templates/
chapter9/.mvn/
chapter9/mvnw
chapter9/mvnw.cmd
chapter9/src/main/resources/templates/
